Repository jondmarien/eco-market, changes with the owners that CODEOWNERS names for each.
All owners: @EcoMarket/core-team, @EcoMarket/backend-team, @EcoMarket/user-team, @EcoMarket/catalog-team, @EcoMarket/order-team, @EcoMarket/frontend-team, @EcoMarket/ux-team, @EcoMarket/devops-team, @EcoMarket/tech-writers

CODEOWNERS:

# EcoMarket CODEOWNERS
# This file defines who owns different parts of the codebase
# and who should review changes to those areas.
#
# Order is important; the last matching pattern takes precedence.
# For more information: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - should review all changes by default
* @EcoMarket/core-team

# Services ownership
/services/ @EcoMarket/backend-team
/services/user-service/ @EcoMarket/user-team
/services/product-catalog-service/ @EcoMarket/catalog-team
/services/order-service/ @EcoMarket/order-team

# Frontend ownership
/frontend/ @EcoMarket/frontend-team
/frontend/customer-web/ @EcoMarket/frontend-team @EcoMarket/ux-team

# Infrastructure ownership
/infrastructure/ @EcoMarket/devops-team
/infrastructure/docker/ @EcoMarket/devops-team
/infrastructure/k8s/ @EcoMarket/devops-team
/infrastructure/gateway/ @EcoMarket/devops-team @EcoMarket/backend-team

# Documentation
/docs/ @EcoMarket/core-team @EcoMarket/tech-writers
README.md @EcoMarket/core-team
CONTRIBUTING.md @EcoMarket/core-team

# Configuration files
package.json @EcoMarket/core-team
nx.json @EcoMarket/core-team
turbo.json @EcoMarket/core-team
.github/ @EcoMarket/core-team

Fix Go build issues in order service - remove unused imports and variables
  services/order-service/go.mod
  services/order-service/go.sum
  services/order-service/internal/handlers/order.go
Owners: @EcoMarket/order-team

feat(admin): Complete Task M - Admin Dashboard Development
  agent-tasks/extended-coordination.md
  services/payment-service/src/middleware/logger.js
  services/payment-service/src/services/stripeService.js
Owners: @EcoMarket/core-team, @EcoMarket/backend-team

feat: Complete Task Q - Authentication & Authorization Enhancement
  agent-tasks/task-i-payment.completed
  agent-tasks/task-q-auth-enhancement.claimed
  agent-tasks/task-q-auth-enhancement.completed
  services/payment-service/src/controllers/paymentController.js
  services/payment-service/src/middleware/validation.js
  services/payment-service/src/routes/paymentRoutes.js
  services/payment-service/src/server.js
  services/payment-service/src/services/paymentService.js
  services/payment-service/src/services/paypalService.js
  services/user-service/package.json
  services/user-service/src/models/MFASettings.js
  services/user-service/src/models/OAuthAccount.js
Owners: @EcoMarket/core-team, @EcoMarket/backend-team, @EcoMarket/user-team

feat(infrastructure): Complete Task P - Infrastructure & DevOps
  agent-tasks/extended-coordination.md
  agent-tasks/task-k-notification.claimed
  agent-tasks/task-p-infrastructure-devops.claimed
  agent-tasks/task-p-infrastructure-devops.completed
  infrastructure/api-gateway/kong-deployment.yml
  infrastructure/api-gateway/kong.yml
  infrastructure/ci-cd/github-actions.yml
  infrastructure/k8s/namespace.yml
  infrastructure/k8s/services/order-service.yml
  infrastructure/k8s/services/user-service.yml
  infrastructure/monitoring/alert-rules.yml
  infrastructure/monitoring/monitoring-stack.yml
  infrastructure/monitoring/prometheus.yml
  services/notification-service/package.json
  services/notification-service/src/config/config.js
  services/notification-service/src/models/Notification.js
  services/notification-service/src/services/emailService.js
Owners: @EcoMarket/core-team, @EcoMarket/devops-team, @EcoMarket/backend-team

feat(notification-service): Complete Task K implementation
  services/notification-service/README.md
  services/notification-service/src/routes/notifications.js
  services/notification-service/src/server.js
  services/notification-service/src/services/notificationService.js
  services/notification-service/src/services/smsService.js
  services/notification-service/test/test-notifications.js
Owners: @EcoMarket/core-team, @EcoMarket/backend-team

feat(analytics-service): Complete Task L implementation
  agent-tasks/task-l-analytics.claimed
  agent-tasks/task-l-analytics.completed
  services/analytics-service/.env.example
  services/analytics-service/Dockerfile
  services/analytics-service/README.md
  services/analytics-service/analytics/__init__.py
  services/analytics-service/analytics/apps/core/__init__.py
  services/analytics-service/analytics/apps/core/apps.py
  services/analytics-service/analytics/apps/core/models.py
  services/analytics-service/analytics/apps/core/urls.py
  services/analytics-service/analytics/apps/core/views.py
  services/analytics-service/analytics/apps/events/models.py
  services/analytics-service/analytics/apps/events/services.py
  services/analytics-service/analytics/apps/reporting/services.py
  services/analytics-service/analytics/asgi.py
  services/analytics-service/analytics/celery.py
  services/analytics-service/analytics/settings.py
  services/analytics-service/analytics/urls.py
  services/analytics-service/analytics/wsgi.py
  services/analytics-service/manage.py
  services/analytics-service/requirements.txt
Owners: @EcoMarket/core-team, @EcoMarket/backend-team

Complete Task N: Mobile App Redux Store and State Management
  agent-tasks/task-n-mobile-app.claimed
  agent-tasks/task-n-mobile-app.completed
  mobile-app/App.tsx
  mobile-app/app.json
  mobile-app/package.json
  mobile-app/src/constants/theme.ts
  mobile-app/src/store/index.ts
  mobile-app/src/store/slices/authSlice.ts
  mobile-app/tsconfig.json
Owners: @EcoMarket/core-team

feat: Complete vendor portal implementation with comprehensive documentation
  agent-tasks/task-o-vendor-portal.claimed
  agent-tasks/task-o-vendor-portal.completed
  apps/vendor-portal/README.md
  apps/vendor-portal/package.json
  apps/vendor-portal/src/App.tsx
  apps/vendor-portal/src/components/Header.tsx
  apps/vendor-portal/src/components/Layout.tsx
  apps/vendor-portal/src/components/Sidebar.tsx
  apps/vendor-portal/src/contexts/AuthContext.tsx
  apps/vendor-portal/src/index.css
  apps/vendor-portal/src/index.tsx
  apps/vendor-portal/src/pages/Dashboard.tsx
  apps/vendor-portal/src/pages/Login.tsx
  apps/vendor-portal/src/pages/Register.tsx
  apps/vendor-portal/src/services/api.ts
  apps/vendor-portal/src/types/index.ts
  apps/vendor-portal/tailwind.config.js
  apps/vendor-portal/tsconfig.json
Owners: @EcoMarket/core-team

docs: create development guide structure and audit documentation files
  CORE_SECTIONS.md
  DEVELOPER_GUIDE_AUDIT_OUTLINE.md
  docs/development-guide-structure.md
Owners: @EcoMarket/core-team, @EcoMarket/tech-writers

\feat: create unified docker-compose.dev.yml merging service-specific configurations
  infrastructure/docker-compose.dev.yml
Owners: @EcoMarket/devops-team

Add dev dependencies: concurrently, wait-on, and cross-env
  package-lock.json
  package.json
Owners: @EcoMarket/core-team

feat: add dev environment orchestrator and moved docs + scripts to home folders
  dev.ps1
  docs/AGENT_COORDINATION.md
  docs/API_DOCUMENTATION_ACCESS.md
  docs/CONTRIBUTING.md
  docs/CORE_SECTIONS.md
  docs/DEVELOPER_GUIDE_AUDIT_OUTLINE.md
  docs/DEVELOPMENT_ENVIRONMENT_INVENTORY.md
  docs/SERVICE-MANAGEMENT.md
  docs/demo-plan.md
  frontend/customer-web/postcss.config.mjs
  frontend/customer-web/src/app/page.tsx
  scripts/health-check-services.ps1
  scripts/setup-admin.js
  scripts/start-new-services.ps1
Owners: @EcoMarket/core-team, @EcoMarket/tech-writers, @EcoMarket/frontend-team, @EcoMarket/ux-team

Update documentation and configuration files
  README.md
  docs/DEVELOPMENT_ENVIRONMENT_INVENTORY.md
  docs/DOCKER_COMPOSE_QUICK_START.md
  docs/DOCKER_COMPOSE_RESOLUTION_GUIDE.md
  docs/RUNNING_FULL_STACK.md
  docs/TROUBLESHOOTING.md
  docs/dev-environment.md
  docs/dev-ps1-orchestrator.md
  frontend/customer-web/README.md
Owners: @EcoMarket/core-team, @EcoMarket/tech-writers

Comprehensive development environment and service improvements
  infrastructure/docker-compose.dev.yml
  infrastructure/pgadmin-servers.json
  scripts/dev-wrapper.ps1
  scripts/dev.ps1
  scripts/health-check-services.ps1
  scripts/service-endpoints.ps1
  services/analytics-service/.env.backup
  services/inventory-service/app/schemas.py
  services/notification-service/.env.backup
  services/order-service/init.sql
  services/product-catalog-service/.env.backup
  services/product-catalog-service/app/models.py
  services/product-catalog-service/init.sql
  services/user-service/.env.backup
Owners: @EcoMarket/devops-team, @EcoMarket/core-team, @EcoMarket/backend-team, @EcoMarket/order-team, @EcoMarket/catalog-team, @EcoMarket/user-team

Fixed issue in order-service init.sql script to correct privilege grant
  services/order-service/init.sql
Owners: @EcoMarket/order-team

Convert @apply directives to regular CSS in globals.css
  frontend/customer-web/src/app/globals.css
Owners: @EcoMarket/frontend-team, @EcoMarket/ux-team
